body,
input,
p {
	margin: 0;
	padding: 0;
}
ul,
li,
dl,
dt,
dd {
	margin: 0;
	padding: 0;
	list-style: none;
}

.header_wrap {
	width: 100%;
	position: fixed;
	top: 0px;
	z-index: 9;
	background-color: #fff;
	padding-bottom: 20px;
	border-bottom: #d5d5d5 1px solid;
}

.header,
.starproduct,
.foot {
	width: 1200px;
	margin: 0 auto;
}
.liu{
	margin-top: 100px;
	/*width: 100%;
	text-align: center;*/
}

.nav_top {
	font: 12px "微软雅黑";
	margin-top: 14px;
	float: right;
}
.header_wrap .header .nav_top a{
	margin-left: 10px;
}
.shop>b{
	vertical-align: middle;
	display: inline-block;
	content: "";
	width: 16px;
	height: 16px;
	background: url(../img/spirite.png) -216px -5px;
}

a {
	text-decoration: none;
	color: #9f9f9f;
}
a:hover>b{
	background-position: -262px -5px;
}
.nav_top a:first-child {
	color: #ef4222;
}

a:hover {
	color: #ef4222;
}

.nav_bottom ul li {
	line-height: 32px;
	float: left;
	margin-left: 56px;
}

.clear {
	clear: both;
}

.nav_bottom ul {
	float: right;
	margin-top: 28px;
}

.nav_bottom .logo {
	float: left;
}

ul li a {
	text-decoration: none;
	color: #000;
	font-size: 16px;
}

form {
	width: 165px;
	height: 30px;
	padding-left: 3px;
	border: #ddd 1px solid;
}

input[type="text"] {
	float: left;
	border: 0;
	width: 138px;
	height: 28px;
}

input[type="submit"] {
	cursor: pointer;
	border: 0;
	background-color: #fff;
	float: left;
	width: 25px;
	height: 28px;
	background: url(../img/spirite.png) no-repeat -236px 2px;
}

.common-title,
.dynamic_p {
	padding: 40px 0;
	font-size: 30px;
	letter-spacing: 1px;
	color: #000;
	text-align: center;
}

.starproduct ul {
	padding-bottom: 60px;
}

.starproduct ul li {
	float: left;
	margin-right: 8px;
}

.sell_wrap,
.parts_wrap {
	width: 100%;
	background-color: #e5e5e5;
}

.xinghao {
	padding-top: 10px;
	color: #0f0e0e;
	font-size: 16px;
}

.chicun {
	padding: 5px 0;
	color: #9E9E9E;
	font-size: 14px;
}

.sell ul li .price>span {
	display: inline;
	font-size: 18px;
	color: #fe6a00;
}

.price {
	margin-top: 8px;
	color: #fe6a00;
	font-size: 24px;
}

.sell,
.parts {
	width: 1200px;
	overflow: hidden;
	margin: 0 auto;
}

.sell ul li p {
	text-align: center;
}

.sell_wrap>p {
	padding: 40px 0 0;
	font-size: 30px;
	letter-spacing: 1px;
	color: #000;
	text-align: center;
}

.sell_wrap .more {
	text-align: right;
	width: 1200px;
	margin: 0 auto;
	font-size: 15px;
	padding-bottom: 15px;
	display: block;
	text-decoration: none;
	color: #000;
}

.left {
	float: left;
}

.sell ul {
	overflow: hidden;
	float: left;
}

.sell ul li {
	float: left;
	margin-left: 5px;
	margin-bottom: 5px;
	width: 290px;
	height: 390px;
	background-color: #fff;
}

.sell ul li img {
	width: 120px;
	height: 240px;
	margin-top: 23px;
}

.sell ul li span {
	display: block;
	width: 120px;
	margin: 0 auto;
}

.parts ul li {
	float: left;
	margin-right: 14px;
	margin-bottom: 16px;
}

.parts>ul {
	padding-bottom: 60px;
}

. .dynamic {
	padding-bottom: 20px;
}

.parts ul li a {
	position: relative;
}

.parts_wrap .parts .price_top {
	width: 100%;
	position: absolute;
	top: -96px;
	text-align: center;
}

.parts_wrap .parts .price_top .price {
	margin: 0;
	color: #f06261;
}

section {
	width: 100%;
	padding: 40px 0;
	border-bottom: #eaeaea 1px solid;
}

.spirite {
	float: left;
	display: block;
	width: 46px;
	height: 46px;
	background: url(../img/spirite.png);
}

.tuihuo {
	background-position: -1px -61px;
}

.huanhuo {
	background-position: -47px -61px;
}

.yunfei {
	background-position: -93px -61px;
}

.shouhou {
	background-position: -139px -61px;
}

em {
	font-style: normal;
	float: left;
	font-size: 16px;
	color: #777;
}

.after_sale ul li {
	width: 290px;
}

.box {
	padding: 30px 0;
}

dl a,
dt {
	color: #777;
}

.box dt {
	font-size: 16px;
}

.box dd {
	font-size: 12px;
}

dl {
	float: left;
	line-height: 33px;
}

dt,
dd {
	width: 214px;
}

.foot_wrap {
	color: #999;
	font: 12px "微软雅黑";
	padding: 20px 0;
	width: 100%;
	background-color: #333;
}

.starproduct dl dd a span {
	margin-right: 7px;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../img/spirite.png);
}
.starproduct dl dd a span.icon_a{
	background-position:-379px -68px;
	vertical-align: middle;
}
.starproduct dl dd a:hover span.icon_a{
	background-position:-379px -94px;
	vertical-align: middle;
}
.starproduct dl dd a span.icon_b{
	background-position:-404px -66px;
	vertical-align: middle;
}
.starproduct dl dd a:hover span.icon_b{
	background-position:-404px -93px;
	vertical-align: middle;
}
.starproduct dl dd a span.icon_c{
	background-position:-429px -66px;
	vertical-align: middle;
}
.starproduct dl dd a:hover span.icon_c{
	background-position:-429px -91px;
	vertical-align: middle;
}
.code{
	float: right;
	
}
.starproduct i{

	background: url(../img/spirite.png);
	display: block;
border: #ccc 3px solid;
background-position: -279px 0;
width: 98px;
height: 98px;
}
.weixin{
	font: 12px "微软雅黑";
	    text-align: center;
    line-height: 30px;
    color: #999;
}
}
.foot li a{
	color: #999;
	font: 12px "微软雅黑";
}
.map{
	color: #999;
	font: 12px "微软雅黑";
}
.foot p a {
	margin-left: 10px;
}

.foot a:hover {
	color: #fff;
}

.foot ul li {
	padding-bottom: 10px;
	float: left;
	margin-right: 10px;
}

.foot p {
	line-height: 49px;
	vertical-align: middle;
}

.foot p img {
	vertical-align: middle;
}

.fixed {
	border: 1px solid #ddd;
	padding-top: 5px;
	width: 60px;
	background-color: #fff;
	right: 6px;
	position: fixed;
	top: 50%;
	margin-top: -144px;
}

.fixed>a {
	text-align: center;
	padding-bottom: 8px;
	border-bottom: solid 1px #ddd;
	display: block;
	font: 12px "微软雅黑";
	color: #000;
}

.fixed>a:hover {
	color: #ef4222;
}

.fixed span {
	margin: 5px auto;
	display: block;
	width: 30px;
	height: 30px;
	background: url(../img/ui_service.png);
}

.fixed .fixed_a span {
	background-position: 0 0;
}

.fixed .fixed_a:hover>span {
	background-position: 0 -30px;
}

.fixed_b span {
	background-position: -30px 0;
}

.fixed .fixed_b:hover>span {
	background-position: -30px -30px;
}

.fixed_c span {
	background-position: -60px 0;
}

.fixed .fixed_c:hover>span {
	background-position: -60px -30px;
}

.fixed_d span {
	width: 50px;
	height: 50px;
	background: url(../img/code.png);
	background-size: 100% 100%;
}

.fixed_b,
.fixed_c,
.fixed_d {
	padding-top: 5px;
}